body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* correct path */
    background-image: url("train.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 380px;
    margin: 80px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}
