body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 40px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

